<div fxHide.gt-xs>
  <button mat-icon-button (click)="openSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
</div>
<div>
  <a routerLink="/">LOGO</a>
</div>
<div fxLayout fxLayoutAlign="flex-end" fxHide.xs>
  <ul class="navigation-items" fxLayout fxLayoutGap="10px">
    <ng-container *ngIf="!isAuth; else authenticated">
      <li>
        <a routerLink="/signup">Signup</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ng-container>
    <ng-template #authenticated>
      <li>
        <a routerLink="/trainings">Trainings</a>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ng-template>
  </ul>
</div>
